<title>Stock Exchange Sim</title>
<link rel="stylesheet" href="/stylesheets/style.css">

<h1><a href="/">Stock Exchange Sim</a></h1>

<p>Stock Exchange</p>
<ul>
  <li><a href="/market">Market</a></li>
</ul>

<p>Debug</p>
<ul>
  <li><a href="/nodes">DCell nodes</a></li>
  <li><a href="/nodes/sim">DCell sim node actors</a></li>
</ul>

<%= yield %>